<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/search.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7985124091685733"
    crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" id="link" name="name">
    <input class="btn" type="button" name="submit" value="Submit" onclick="search()">
    <br>
    <code id = 'ret'></code>
</body>
</html>