<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/main.js"></script>
    <title>Document</title>
</head>
<body>
    <form method="post">
        Nickname<br><input class="Nickname"/><br>
        Pokemon<br><input list="Pokemon" class="Pokemon"/>
        <datalist id="Pokemon"></datalist><br>
        Gender<br> <input list="Gender" class="Gender"/>
        <datalist id="Gender">
            <option value="M">
            <option value="F">
        </datalist><br>
        Item<br> <input list="Item" class="Item"/>
        <datalist id="Item"></datalist><br>
        Ability<br> <input list="Ability" class="Ability"/>
        <datalist id="Ability"></datalist><br>
        Level<br> <input list="Level" class="Level"/><br>
        TeraType<br> <input list="TeraType" class="TeraType"/>
        <datalist id="TeraType"></datalist><br>
        IVs<br> <span class="IVs"/><span>
        hp
        <input type="number" id="HP" value="31" class="textbox inputform numform" min="0" max="31" step="1">
        atk
        <input type="number" id="Atk" value="31" class="textbox inputform numform" min="0" max="31" step="1">
        def
        <input type="number" id="Def" value="31" class="textbox inputform numform" min="0" max="31" step="1">
        spa
        <input type="number" id="SpA" value="31" class="textbox inputform numform" min="0" max="31" step="1">
        spd
        <input type="number" id="SpD" value="31" class="textbox inputform numform" min="0" max="31" step="1">
        spe
        <input type="number" id="Spe" value="31" class="textbox inputform numform" min="0" max="31" step="1">
        <br>
        EVs<br>
        hp
        <input type="number" id="stat-HP" value="0" class="textbox inputform numform" min="0" max="252" step="1">
        atk
        <input type="number" id="stat-Atk" value="0" class="textbox inputform numform" min="0" max="252" step="1">
        def
        <input type="number" id="stat-Def" value="0" class="textbox inputform numform" min="0" max="252" step="1">
        spa
        <input type="number" id="stat-SpA" value="0" class="textbox inputform numform" min="0" max="252" step="1">
        spd
        <input type="number" id="stat-SpD" value="0" class="textbox inputform numform" min="0" max="252" step="1">
        spe
        <input type="number" id="stat-Spe" value="0" class="textbox inputform numform" min="0" max="252" step="1">
        <br>
        Nature<br> <input list="Nature" class="Nature"/>
        <datalist id="Nature"></datalist><br>
        Move_1<br> <input list="Move" class="Move_1"/>
        <datalist id="Move"></datalist><br>
        Move_2<br> <input list="Move" class="Move_2"/>
        <datalist id="Move"></datalist><br>
        Move_3<br> <input list="Move" class="Move_3"/>
        <datalist id="Move"></datalist><br>
        Move_4<br> <input list="Move" class="Move_4"/>
        <datalist id="Move"></datalist><br>
        <input class="btn" type="button" name="submit" value="add" onclick="add()">
        <input class="btn" type="button" name="submit" value="Submit" onclick="submisson()">
    </form>
</body>
</html>