<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/main.js"></script>
    <title>Document</title>
</head>
<body>
    <form method="post">
        Nickname<br>
        <datalist id="Nickname" data ="Nickname"></datalist><br>
        Pokemon<br>
        <datalist id="Pokemon"></datalist><br>
        Gender<br>
        <datalist id="Gender"></datalist><br>
        Item<br>
        <datalist id="Item"></datalist><br>
        Ability<br>
        <datalist id="Ability"></datalist><br>
        Level<br>
        <datalist id="Level"></datalist><br>
        TeraType<br>
        <datalist id="TeraType"></datalist><br>
        EVs<br>
        <datalist id="EVs"></datalist><br>
        TeraType<br>
        <datalist id="TeraType"></datalist><br>
        Nature<br>
        <datalist id="Nature"></datalist><br>
        Move_1<br>
        <datalist id="Move_1"></datalist><br>
        Move_2<br>
        <datalist id="Move_2"></datalist><br>
        Move_3<br>
        <datalist id="Move_3"></datalist><br>
        Move_4<br>
        <datalist id="Move_4"></datalist><br>
        <input class="btn" type="submit" name="submit" value="Submit">
    </form>
    
</body>
</html>